.loginDiv,
.registerDiv {
  width: 60%;
  margin: 100px auto;
  border: 1px solid black;
}

/* h1 {
  text-align: center;
}

form {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 20px;
}

form input {
  width: 75%;
}

form button {
  width: 50%;
}

button {
  cursor: pointer;
}

.linkDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
} */
